<% layout('/layouts/boilerplate') -%>

    <body>
        <h2 class="text-2xl font-semibold mb-6">All Listings</h2>

        <div class="cardsContainer flex flex-wrap gap-12 justify-center rounded-2xl">
            <% for(let listing of allListings) { %>
                <a href="/listings/<%= listing._id %>" class="card">
                    <img class="h-64 w-84 object-cover rounded-2xl" src="<%= listing.image.url %>" alt="">
                    <p><%= listing.title %></p>
                    <p>&#8377;<%= listing.price.toLocaleString("en-IN") %></p>
                </a>
            <% } %>
        </div>

                <!-- <ul>
                    <% for(let listing of allListings) { %>
                        <li> <a href="/listings/<%= listing._id %>">
                                <%= listing.title %>
                            </a></li>
                        <% } %>
                </ul> -->
    </body>